<h1>Welcome to Kenny's School</h1>


<h2>Struggling Students: </h2>

  <% @struggling.each do |student| %>
  <p><%= student.last_name %>: <%= student.current_score %></p>
  <% end %>

<h2>Student Roster: </h2>

  <% @students.each do |student| %>
  <ol>
      <li><%= student.first_name %> <%= student.last_name %>: <%= student.teacher.first_name %> <%= student.teacher.last_name %></li>
  </ol>
  <% end %>
