<h1>Welcome to Kenny's School</h1>

<% @teachers.each do |teacher| %>
<div class="<%= teacher.last_name %>">

  <h3><%= teacher.first_name %> <%= teacher.last_name %></h3>
      <p>
        Teacher's Student's Age Range: <%= teacher.oldest_student_age %>- <%= teacher.youngest_student_age %>
      </p>
    <ul>
      <% teacher.students.each do |student| %>
      <li><%= student.first_name %> <%= student.last_name %></li>
      <% end %>
    </ul>
</div>
<% end %>
